<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>LiquidPlanner Auto Estimator</h1>
    <img src="/images/lp-auto-estimator-meme.jpg" />
    <p>This is a Node.js app that adds time estimates tasks that have none.</p>
  </div>
</div>
</body>
</html>
